---
layout: default
title: "Shahbaz Tariq | Magento Developer | PHP Web Application Developer"
description: "Shahbaz Tariq - Professional Magento Developer and Consultant."
keywords: "magento, magento developer, magento help, php, ecommerce, developer, magento contractor php development, php developer   "
---

<section class="container posts-container">
    {% for post in site.posts %}
        <article class="post">
        
            {% if post.image %}
                <div class="post-image">
                    <a href="{{ post.url }}">
                        <img src="https://dummyimage.com/1280x720/aaaaaa/cccccc.png&amp;text=~" data-src="{{ post.image }}" title="{{ post.title }}" />
                    </a>
                </div>
            {% endif %}
            
            <header class="post-header">
                <h4 class="post-date">{{ post.date | date: "%B %d, %Y" }}</h4>
                <h2 class="post-title">
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </h2>
            </header>
            
            <div class="post-excerpt">
                {{ post.excerpt }}
                <p class="post-read-more">
                    <a href="{{ post.url }}" class="pure-button btn-main">Read more <i class="fa fa-angle-double-right"></i></a>
                </p>
            </div>
        </article>
    {% endfor %}
</section>
