---
layout: default
title: "Shahbaz Tariq | Magento Developer | PHP Web Application Developer"
description: "Shahbaz Tariq - Magento Developer and Consultant."
keywords: "magento, magento developer, magento help, php, ecommerce, developer, devops, magento contractor php development, php Developer   "
---

<section class="container posts-container">
    {% for post in site.posts %}
        <article class="post">
        
            {% if post.image %}
                <div class="post-image lazy-load" onclick="ssst.setLocation('{{ post.url }}');" data-source="{{ post.image }}" data-title="{{ post.title }}"></div>
            {% endif %}
            
            <header class="post-header">
                <h3 class="post-date">{{ post.date | date: "%B %d, %Y" }}</h3>
                <h2 class="post-title">
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </h2>
            </header>
            
            <div class="post-excerpt">
                {{ post.excerpt }}
                <p class="post-read-more">
                    <a href="{{ post.url }}" class="pure-button btn-main">Read more <i class="fa fa-angle-double-right"></i></a>
                </p>
            </div>
        </article>
    {% endfor %}
</section>
