---
layout: default
title: "Islam"
description: "Islamic knowledge, teachings and thoughts."
keywords: "islam, hadiths, sunnah, muslim"
---

<section class="container posts-container">
    {% for post in site.islam reversed %}
        <article class="post post-islam">
        
            {% if post.image %}
                <div class="post-image" onclick="ssst.setLocation('{{ post.url }}');" data-source="{{ post.image }}" data-title="{{ post.title }}"></div>
            {% endif %}
            
            <header class="post-header">
                <h3 class="post-date">{{ post.date }}</h3>
                <h2 class="post-title">
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </h2>
            </header>
            
            <div class="post-excerpt">
                
                {% if post.excerpt %}
                    {{ post.excerpt }}
                {% endif %}
                
                {% if post.lead %}
                    <p class="lead">{{ post.lead }}</p>
                {% endif %}
                
                {% if post.citation %}
                    <cite class="citation">{{ post.citation }}</cite>
                {% endif %}
                
                <p class="post-read-more">
                    <a href="{{ post.url }}" class="pure-button btn-main">Read more <i class="fa fa-angle-double-right"></i></a>
                </p>
            </div>
        </article>
    {% endfor %}
</section>
