{% include head.html %}
{% include header.html %}

<div class="page page-one-column pure-g">
    <div class="column main-column pure-u-1">
        <section class="container post-container">
            <article class="post">
                {% if post.image %}
                    <div class="post-image" onclick="ssst.setLocation('{{ post.url }}');">
                        <img src="{{ page.image }}" title="{{ post.title }}" alt="{{ post.title }}" />
                    </div>
                {% endif %}
                
                <header class="post-header">
                    <h3 class="post-date">{{ page.date | date: "%B %d, %Y" }}</h3>
                    <h2 class="post-title">
                        <a href="{{ post.url }}">{{ page.title }}</a>
                    </h2>
                </header>
            
                <div class="post-content">
                    {{ content }}
                </div>
                
                <div class="post-collateral">
                    <ul>
                        <li><i class="fa fa-pencil"></i> Shahbaz Tariq</li>
                        <li><i class="fa fa-list"></i> {{ page.categories }}</li>
                        <li><i class="fa fa-tags"></i> {{ page.tags }}</li>
                        
                        
                    </ul>
                </div>
            </article>
        </section>
    </div>
</div>

{% include footer.html %}


