{% include head.html %}
{% include header.html %}

<div class="page page-one-column pure-g">
    <div class="column main-column pure-u-1">
        <section class="container post-container">
            <article class="post post-view">
                {% if page.image %}
                    <div class="post-image liquidify" onclick="ssst.setLocation('{{ page.url }}');">
                        <img src="{{ page.image }}" title="{{ page.title }}" alt="{{ page.title }}" />
                    </div>
                {% endif %}
                
                <header class="post-header">
                    <h3 class="post-date">{{ page.date | date: "%B %d, %Y" }}</h3>
                    <h2 class="post-title">
                        <a href="{{ page.url }}">{{ page.title }}</a>
                    </h2>
                </header>
            
                <div class="post-content">
                    {{ content }}
                </div>
                
                {% include post/collateral.html %}
            </article>
        </section>
    </div>
</div>

{% include footer.html %}


